body {
    padding: 0;
    margin: 0 ;
    display: flex;
    flex-direction: row;
    font: 1.2em "Fira Sans", sans-serif;
}
 /* top bar */
.top-bar {
  overflow: hidden;
  position: fixed;
  background-color: white;
  top: 0;
  width: 75%;
  z-index: 1;
}
/*sidebar */
.sidebar-container {
    display: flex;
    flex-direction: row;
    height: 70px;
    /*justify-content: center;*/
    align-items: center;
    z-index: 2;
    background-color: white;
}    
.sidebar-container img{
    width: 200px;
    height: 80px;
    background-size: contain;
}
.search {
    display: flex;
    flex-direction: row ;
    align-items: center;
    border: 1px none #DDD;
    background-color: #ECF4FE;
    border-radius: 10px;
    width: 80%;
    height: 50px;
}
.search-fix{
    display: flex;
    flex-direction: row ;
    align-items: center;
    border: 1px none #DDD;
    background-color: #ECF4FE;
    width: 80%;
    height: 4em;
    margin-bottom: 30px;
    font-size: 12px;
}
.search-input {
    background-color: #ECF4FE;
    border: none;
    font-weight: bold;
    
}
.search-input:focus {
    outline: none;
}
#phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 20px ; 
    border: 1px solid #0A5551;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px ; 
    border: 1px solid #0A5551;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#phone:hover , #map:hover{
    background-color: #0A5551 ;
}
#num  {
    display: none;
    flex-wrap: nowrap;
    background-color: #0A5551;
    border-radius: 10px;
    position: relative;
    top: 70px ;
    left: -30px;
    overflow: hidden;
    font-size: 7px;
    text-align: center;
    color: white;
  
}
#map-fiche {
    line-height: 100%;
    visibility: hidden ;
    width: 140px;
    height: 60px;
    background-color: #0A5551;
    border-radius: 10px;
    position: relative;
    top: 70px ;
    left: -30px;
    overflow: hidden;
    font-size: 7px;
    text-align: center;
    color: white;
}
#phone:hover ~ #num , #map:hover ~ #map-fiche  {
    visibility: visible;
}
/*sidebar */


/*catedorie area */


.wrapper-fix{
    padding-top: 20px;
    overflow: scroll;
    scroll-snap-type: none;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
}
.wrapper-fix::-webkit-scrollbar {
    width: 0;
}



.categorie  { 
   display: flex;
   flex-direction: column;   
   text-align: center;
   width: 65px;
   height: 120px;
   border-radius: 40px;
   margin : 0 5px ; 
}
.categorie i {
    border: 1px solid #DDE7F4 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    margin: 5px;
}
.categorie h5 {
    font-size: 12px;
    margin: 5px;
}
.categorie-type:focus {
    color: white;
}
.categorie:focus {
    background-color: #0A5551 ;
}

/*catedorie area */

/* top bar */

/*palte */
 .plate {
     width: 95%;
     height: 330px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     border-radius: 15px;
     box-shadow: 5px 10px 8px #dbcece;
 }
 .col-sm-4 {
     padding: 0;
     margin: 20px 0 0 0;
 }
 .plate h1 {
     font-size: 20px;
     margin: 10px 0 0 20px;
     color: #3F4870;
 }
 .plate h5 {
    font-size: 15px;
     color: #4B9E9B ;
     margin: 5px 0 0 20px;
 }
 .checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    margin:  auto 20px 10px 20px;
    color: #616679;
    
 }
.botton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout button:focus {
    outline: none;
}
.checkout button {
    border: 0 white;
    width: 40px ;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    align-content: center;
    outline: hidden;
}

.categorie-plat {
    color: #3E4871;
    font-weight: 800;
    font-size: 30px;
}

/*plat */


/* commande-area */

.cmd-area {
    position: relative; 
    overflow: hidden;
    height: 100%;
}  

.cmd-box {
    position: fixed;
    width: 22%;
    margin: 20px;
}


.cmd-info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #E2F5F4;
    border-radius: 10px;
}

.panier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    
}
.panier-i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    background-color: #0A5551;
}


.panier-prix p {
    margin: 0 ;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 700;
} 
.panier-prix h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #54596e;
}
.nb-cmd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height:40px;
    background-color: white;
    border-radius: 20px;
}
.plat-area-cmd{
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
}

.plat-area-cmd p {
    margin: 0 ;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 700;
} 
.liste-cmd {
    height: 350px;
}

.ckeck-out {
    display: flex;
    flex-direction: column;
}
.amount {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.amount p {
    color: #3f4870;
    font-size: 0.73em;
    font-weight: 600;
}
.amount h4 {
    color:#54596e ;
    font-size: 0.83em;
    font-weight: 600;
}
.ckeck-out button {
    border-radius: 12px;
    background: #0a5551;
    outline: none;   
    padding: 20px 20px; 
    color: white;
    font-weight: 600;
    font-size: 0.83em;
}
/* commande-area */